:root {
    --sidemenu-width: 260px;
    --topbar-height: 80px;

    --orange: #FE5E37;
    --green: #8AC389;
    --black: #0A0A0A;
    --light-black: #222;
    --grey: #ECEDEF;
    --dark-grey: #5F5F5F;
    --white: #FFFFFF;

    --border-radius: 8px;
}
*{
    box-sizing: border-box;
}
body {
    background: var(--grey);
    color: var(--black);
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
#app {
    display: flex;
    flex-wrap: nowrap;
}
.page {
    height: calc(100vh - var(--topbar-height));
    padding: 30px;
}
#page-container {
    width: calc(100% - var(--sidemenu-width));
}
h1 {
    padding: 0px;
    margin: 0px;
}
/* flexs */
.flex-3 {
    display: flex;
    gap: 20px;
}

/* widgets */
.widget {
    background-color: var(--white);
    color: var(--light-black);
    border-radius: var(--border-radius);
    padding: 25px 20px;
    margin-bottom: 20px;
    position: relative;
}
.widget .title {
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    height: 40px
}
.widget .title button {
    background-color: var(--black);
    color: var(--grey);
    padding: 10px 15px 10px 5px;
}
.widget .title button:hover {
    background-color: var(--light-black);
}
.widget .title button .pi {
    padding: 0px 10px;
}
.widget .title select {
    background-color: var(--grey);
    color: var(--light-black);
    padding: 10px 20px;
}
.widget .title .title-right {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.widget .title-small {
    font-size: 15px;
    color: var(--dark-grey);
    font-weight: 500;
    margin-bottom: 5px;
}
.widget .value {
    font-size: 18px;
    color: var(--light-black);
    font-weight: 500;   
}
.full-widget {
    width: 100%;
    /* min-height: 500px; */
}
.widget-3 {
    width: calc(33.3% - 10px);
    line-height: 20px;
    padding: 25px 30px;
}
.widget.accent {
    background-color: var(--orange);
    color: var(--grey);
}
.widget.accent .title-small {
    color: var(--grey);
}
.widget.accent .value {
    color: var(--white);
}
.widget .icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 30px;
    margin-top: 25px;
    background-color: var(--grey);
    color: var(--light-black);
    border-radius: var(--border-radius);
}
.widget.accent .icon {
    background-color: rgba(255,255,255,0.2);  
    color: var(--white);  
}
.widget .icon.orange {
    color: var(--orange) !important;  
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
}
table thead {
    font-weight: 500;
}
table td {
    border-bottom: 1px solid var(--grey);
    padding: 20px 0px;
}
table tr:last-child td {
    border-bottom: 0px;
}

/* buttons */
button {
    padding: 10px 20px;
    border-radius: var(--border-radius);
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
button.red {
    background-color: #FE5E37;
    color: var(--white);
}
select {
    border: 0px;
    outline: 0px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border-right: 10px solid transparent;
}